      <!-- Start Landing Page -->
      <div class="landing-page">
        <header>
          <div class="container">
            <a href="#" class="logo">PG <b>Graphics</b></a>
            <ul class="links">
              <li>Home</li>
              <li><a href="/about-us" >About Us</a></li>
              <li><a href="/dashboard" >Dashboard</a></li>
              <li><a href="/login" class="login">Login</a></li>
            </ul>
          </div>
        </header>
        <div class="content">
          <div class="container">
            <div class="info">
              <h1>Taking care of your commitments</h1>
              <p>Your personal appointment assistant! Select your appointments from the calendar and we will send you messages reminding you. Never forget an important event again!</p>
              <button><a href="/login" class="registerNow" style="color: #ffffff;">Register now!</a></button>
            </div>
            <div class="image">
              <img src="https://i.postimg.cc/65QxYYzh/001234.png">
            </div>
          </div>
        </div>
      </div>
      <!-- End Landing Page -->
